.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	height: 50%
}

h1{
	font-family: Raleway, Verdana, Georgia, Times New Roman, sans-serif;
}

h2{
	font-family: Raleway, Times New Roman;
}

p{
	font-family: Raleway, Times New Roman;
}

h1{
	text-align: center;
}

li{
	font-family: Raleway, Times New Roman;
}

html{
	margin: 0;
	min-height: 100%;
}

body
{
	background-image: url("Background.jpg");
	background-attachment: fixed;
	background-position: middle;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	min-height: 100%;
	min-width: 100%;
	margin: 0;
}

/* Navigation Tabs at top */

nav
{
	text-align: center;
	
}
nav ul
{
	list-style-type: none;
	display: inline-block;
	padding: 0;
	font-family: Raleway, Arial;
}
nav li
{
	display: inline;
	float: left;
	
}
nav a
{
	display: inline-block;
	color: white;
	text-align: left;
	padding: 17px 40px;
	text-decoration: none;
	
}

nav a:hover {
	background-color: #ddd;
	color: black;
	font-family: Raleway, Arial; 
}

/* Text Box Formatting */
.outer {
      
      border-radius: 5px;
      width: 450px;
      padding: 10px;
      margin-bottom: 40px;
    }

.valuesquote {
	text-align:justify;
	border: none;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	width: 37%
}

.values {
	text-align: justify;
	border: none;
	width: 50%;
}

.blog {
	text-align: justify;
	border: none;
	width: 60%;
}
.downloadbutton {
	border: none;
	text-decoration: none;
 	display:inline-block; 
	background-color: grey;
	padding: 20px 45px;
	margin; 4px 2px
	text-align: center; 
	cursor: pointer; 
	font-family: 'Raleway', sans-serif;
}

/* Social Media Buttons */

.social-icons {
  text-align: center;
  }  

.social-icons li {
  display:inline-block;
  list-style-type:none;
  }

.social-icons li a {
  border-bottom: none;
  }

.social-icons li img {
  Width:35px;
  height:35px;
}


/* Modal CSS */
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Footer */
.centerfooter {
  margin: auto;
  width: 100%;
  position:absolute;
  padding: 10px;
  Text-align:center;
}


